$font-stack: 'Open Sans', sans-serif;

$base-black: #222222;
$base-white: #eee;
$base-red: #cc4d4d;
$base-green: #32ba6d;
$base-gray: #f0eff4;
$base-rose: #e09494;
$light-gray: #2a2a2a;
$calm-gray: #b5b5b5;
$white: #fff;
$foot-green: #97b16b;
$dark-gray: #666666;
$light-red: #773737;
$hot-red: #e7402f;